
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">پیامهای ارسالی</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                پشتیبانی سایت
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <ul id="chatMessage" class="card-body">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="answerForm" class="form-inline mt-2">
                                    <input id="answerText" type="text" placeholder="پاسخ خود را بنویسید" class="form-control" />
                                    <button type="submit" class="btn btn-success">ارسال پاسخ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="roomList" class="list-group">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


@section Scripts
{
    <script src="~/js/SupportSignalRService.js"></script>
}
