<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
                <li class="active"><a href="/Home/Index"><i class="lni lni-home"></i>خانه</a></li>
                <li><a href="/Home/Index"><i class="lni lni-life-ring"></i>پشتیبانی سایت</a></li>
                <li><a href="/Basket/Index  "><i class="lni lni-shopping-basket"></i>سبد خرید</a></li>
                <li><a href="/Product/Index"><i class="lni lni-heart"></i>علاقهمندیها</a></li>
                <li><a href="/settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
            </ul>
        </div>
    </div>
</div>