@model IEnumerable<Entities.Product.Product>
<div class="weekly-best-seller-area py-3">
    <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between">
            <h6 class="pl-1">هفتگی بهترین فروشندگان</h6><a class="btn btn-success btn-sm" href="/shop-list.html">مشاهده همه</a>
        </div>
        <div class="row g-3">
            <!-- Single Weekly Product Card-->
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6">
                    <div class="card weekly-product-card">
                        <div class="card-body d-flex align-items-center">
                            <div class="product-thumbnail-side">
                                <span class="badge badge-success">فروش</span>
                                    <a id="get-product-link" class="wishlist-btn" onclick="setFavorite(@item.Id)">
                                        <i class="lni lni-heart"></i>
                                    </a>
                                <a class="product-thumbnail d-block" href="/single-product.html">
                                    <img src="/img/product/10.png" alt="">
                                </a>
                            </div>
                            <div class="product-description">
                                <a class="product-title d-block" href="/single-product.html">مبل قرمز مدرن</a>
                                <p class="sale-price">
                                <i class="lni lni-dollar"></i>50 تومان <span>90 تومان</span></p>
                                <div class="product-rating">
                                <i class="lni lni-star-filled"></i>4.88 (39)
                                </div>
                                <a class="btn btn-success btn-sm add2cart-notify" href="#">
                                <i class="mr-1 lni lni-cart"></i>خرید</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function setFavorite(id) {

            //$.post(`/Product/favoriteProduct?productId=${id}`, () => {
            //    alert('این محصول به لیست علاقه مندی های شما اضافه شد');
            //    $('#get-product-link').find("i").toggleClass("lni lni-heart lni lni-heart-filled");
            //})

            $.ajax({
                url:`/Product/favoriteProduct?productId=${id}`,
                method: 'POST',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert('این محصول به لیست علاقه مندی های شما اضافه شد');
                    $('#get-product-link').find("i").toggleClass("lni lni-heart lni lni-heart-filled");
                },
                error: function () {
                    alert('خطایی رخ داد');
                }
            }).done(function (res) {
                debugger;

            });
        }
    </script>
}
