@model Project_Markets.DTOs.Blog.BlogDto
@{
    ViewData["Title"] = "GetBlogInformation";
}


<!-- Preloader-->
<div class="preloader" id="preloader">
    <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">بارگذاری...</div>
    </div>
</div>
<!-- Header Area-->
<div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a href="/"><i class="lni lni-arrow-right"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
            <h6 class="mb-0">جزئیات وبلاگ</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
    </div>
</div>
<!-- Sidenav Black Overlay-->
<div class="sidenav-black-overlay"></div>
<!-- Side Nav Wrapper-->
<div class="suha-sidenav-wrapper" id="sidenavWrapper">
    <!-- Sidenav Profile-->
    <div class="sidenav-profile">
        <div class="user-profile"><img src="img/bg-img/9.jpg" alt=""></div>
        <div class="user-info">
            <h6 class="user-name mb-0">نیلوفر</h6>
            <p class="available-balance">حساب شما <span><span class="counter">350000</span></span><span> تومان</span></p>
        </div>
    </div>
    <!-- Sidenav Nav-->
    <ul class="sidenav-nav pl-0">
        <li><a href="profile.html"><i class="lni lni-user"></i>پروفایل من</a></li>
        <li><a href="notifications.html"><i class="lni lni-alarm lni-tada-effect"></i>اطلاعیه ها <span class="ml-3 badge badge-warning">3</span></a></li>
        <li class="suha-dropdown-menu">
            <a href="#"><i class="lni lni-cart"></i>صفحات خرید</a>
            <ul>
                <li><a href="shop-grid.html">- فروشگاه شبکه</a></li>
                <li><a href="shop-list.html">- لیست فروشگاه</a></li>
                <li><a href="single-product.html">- مشخصات محصول</a></li>
                <li><a href="featured-products.html">- محصولات برجسته</a></li>
                <li><a href="flash-sale.html">- فروش فلش</a></li>
            </ul>
        </li>
        <li><a href="pages.html"><i class="lni lni-empty-file"></i>تمام صفحات</a></li>
        <li class="suha-dropdown-menu">
            <a href="wishlist-grid.html"><i class="lni lni-heart"></i>علاقه مندی های من</a>
            <ul>
                <li><a href="wishlist-grid.html">- شبکه مورد علاقه</a></li>
                <li><a href="wishlist-list.html">- لیست دلخواه</a></li>
            </ul>
        </li>
        <li><a href="settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
        <li><a href="intro.html"><i class="lni lni-power-switch"></i>خروج از سیستم</a></li>
    </ul>
    <!-- Go Back Button-->
    <div class="go-home-btn" id="goHomeBtn"><i class="lni lni-arrow-right"></i></div>
</div>
<div class="page-content-wrapper">
    <div class="product-slides owl-carousel text-center align-items-center">
        <div class="single-product-slide mb-5 mt-1" style="border-radius:50%;background-position:center;background-size:cover;background-repeat:no-repeat;position:relative;margin-left:30%;height:400px!important;width:40%; background-image: url('/img/bg-img/@Model.ImageName')"></div>
    </div>
    <!--<div class="blog-details-post-thumbnail" style="background-image: url('img/bg-img/6.jpg')">
        <div class="container">
            <div class="post-bookmark-wrap">-->
    <!-- Post Bookmark-->
    <!--<a class="post-bookmark" href="#"><i class="lni lni-bookmark"></i></a>
            </div>
        </div>
    </div>-->
    <div class="product-description pb-3">
        <!-- Product Title & Meta Data-->
        <div class="product-title-meta-data bg-white mb-3 py-3">
            <div class="container">
                <h5 class="post-ti  tle">@Model.BlogTitle</h5>
                <div class="post-meta-data d-flex align-items-center justify-content-between"><a class="d-flex align-items-center" href="#"><img src="img/bg-img/9.jpg" alt="">سارا <span>دنبال کنید</span></a><span><i class="lni lni-timer"></i>4 دقیقه بخوانید</span></div>
            </div>
        </div>
        <div class="post-content bg-white py-3 mb-3">
            <div class="container">
                <p>@Model.Text</p>
            </div>
        </div>
        @{
            List<Entities.Blog.BlogComments> blogComments = ViewData["BlogComments"] as List<Entities.Blog.BlogComments>;
        }
        <!-- All Comments-->
        <div class="rating-and-review-wrapper bg-white py-3 mb-3">
            <div class="container">
                <h6>نظرات </h6>
                @if (!blogComments.Any())
                {
                    <p>هیچ نظری داده نشده است</p>
                }
                else
                {
                    @foreach (var item in blogComments)
                    {
                        <div class="rating-review-content">
                            <ul class="pl-0">
                                <li class="single-user-review d-flex">
                                    <div class="user-thumbnail mt-0">
                                        @*@{
                                                <img src="/ImageProductCategory/UserImage/@item.User.UserAvatar" alt="">
                                            }*@
                                    </div>
                                    <div class="rating-comment">
                                        <p class="comment mb-0">@item.CommentText</p><span class="name-date">@item.CreateDate</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                }


            </div>
        </div>
        <!-- Comment Form-->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="ratings-submit-form bg-white py-3">
                <div class="container">
                    <h6>ارسال نظر</h6>
                    <form action="GetBlogInformation" method="post">
                        <input type="hidden" asp-for="Comments.User" />
                        <input type="hidden" asp-for="Comments.Blogs.Id" />
                        <div class="mb-3">
                            <textarea asp-for="Comments.CommentText" class="form-control" cols="30" rows="10" placeholder="نظر خود را بنویسید ..."></textarea>
                        </div>
                        <button class="btn btn-sm btn-primary" type="submit">ارسال نظر</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="ratings-submit-form bg-white py-3">
                <div class="container">
                    <div class="alert alert-info">
                        <p>شما نمیتوانید نظری ارسال کنید</p>
                        <p>برای ارسال پیام باید لاگین شوید</p>
                        <a class="text-warning" href="/Account/Login">ورود به سایت</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- Internet Connection Status-->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Footer Nav-->
<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
                <li class="active"><a href="home.html"><i class="lni lni-home"></i>خانه</a></li>
                <li><a href="message.html"><i class="lni lni-life-ring"></i>حمایت کردن</a></li>
                <li><a href="cart.html"><i class="lni lni-shopping-basket"></i>سبد خرید</a></li>
                <li><a href="pages.html"><i class="lni lni-heart"></i>صفحات</a></li>
                <li><a href="settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
            </ul>
        </div>
    </div>
</div>
