@using Entities.Blog
@model BlogCategories
@{
    ViewData["Title"] = "ویرایش دسته بندی";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش دسته بندی</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

@if (ViewBag.IsExist == true)
{
    <div class="alert-warning">
       <h3>این دسته بندی تکراری است...!</h3>
    </div>
}

<div class="row">
    <form action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    دسته بندی وبلاگ
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان</label>
                        <label class="text-success">@Model.BlogCategoryTitle</label>
                    </div>
                    <input type="submit" value="ویرایش اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </form>
</div>


