@model IEnumerable<Entities.Product.ProductCategory>
@{
    ViewData["Title"] = "ProductCategoryComponent";
}

<div class="product-catagories-wrapper py-3">
    <div class="container">
        <div class="section-heading">
            <h6 class="ml-1">دسته بندی محصولات</h6>
        </div>
        <div class="product-catagory-wrap">
            <div class="row g-3">
                <!-- Single Catagory Card-->
                @foreach (var product in Model)
                {
                    <div class="col-4">
                        <div class="cards-Wrapper h-100">
                            <div class="card h-100">
                                <div class="card-overlay text-center h-25">
                                    <h5 class="card-overlay-heading">@product.GroupTitle</h5>
                                </div>
                                <a href="/Product/index/@product.Id" class="h-100">
                                    <img src="/ImageProductCategory/@product.ImageProduct" class="card-img h-100 position-relative" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
