@model IEnumerable<Data.DTOs.Address.UserAddressDto>
@{
    ViewData["Title"] = "آدرس ها";
}

<div class="preloader" id="preloader">
    <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">بارگذاری...</div>
    </div>
</div>
<!-- Header Area-->
<div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Logo Wrapper-->
        <div class="logo-wrapper"><a href="home.html"><img src="img/core-img/logo-small.png" alt=""></a></div>
        <!-- Search Form-->
        <div class="top-search-form">
            <p>همه آدرس ها</p>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
    </div>
</div>
<!-- Sidenav Black Overlay-->
<div class="sidenav-black-overlay"></div>
<!-- Side Nav Wrapper-->
<div class="suha-sidenav-wrapper" id="sidenavWrapper">
    <!-- Sidenav Profile-->
    <div class="sidenav-profile">
        <div class="user-profile"><img src="img/bg-img/9.jpg" alt=""></div>
        <div class="user-info">
            <h6 class="user-name mb-0">نیلوفر</h6>
            <p class="available-balance">حساب شما <span><span class="counter">350000</span></span><span> تومان</span></p>
        </div>
    </div>
    <!-- Sidenav Nav-->
    <ul class="sidenav-nav pl-0">
        <li><a href="/UserPanel/Index"><i class="lni lni-user"></i>پروفایل من</a></li>
        <li><a href="notifications.html"><i class="lni lni-alarm lni-tada-effect"></i>اطلاعیه ها <span class="ml-3 badge badge-warning">3</span></a></li>
        <li class="suha-dropdown-menu">
            <a href="#"><i class="lni lni-cart"></i>صفحات خرید</a>
            <ul>
                <li><a href="shop-grid.html">- فروشگاه شبکه</a></li>
                <li><a href="shop-list.html">- لیست فروشگاه</a></li>
                <li><a href="single-product.html">- مشخصات محصول</a></li>
                <li><a href="featured-products.html">- محصولات برجسته</a></li>
                <li><a href="flash-sale.html">- فروش فلش</a></li>
            </ul>
        </li>
        <li><a href="pages.html"><i class="lni lni-empty-file"></i>تمام صفحات</a></li>
        <li class="suha-dropdown-menu">
            <a href="wishlist-grid.html"><i class="lni lni-heart"></i>علاقه مندی های من</a>
            <ul>
                <li><a href="wishlist-grid.html">- شبکه مورد علاقه</a></li>
                <li><a href="wishlist-list.html">- لیست دلخواه</a></li>
            </ul>
        </li>
        <li><a href="settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
        <li><a href="intro.html"><i class="lni lni-power-switch"></i>خروج از سیستم</a></li>
    </ul>
    <!-- Go Back Button-->
    <div class="go-home-btn" id="goHomeBtn"><i class="lni lni-arrow-right"></i></div>
</div>
<div class="card cart-amount-area">
    <div style="margin:3rem;box-sizing:border-box" class="card-body d-flex align-items-center justify-content-between">
        

    </div>
    <div class="checkout-section shadow-around">
        <div class="checkout-section-content">
            <div class="row mx-0">

                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label address-select" for="customRadio2">
                                <span class="head-address-select">به این آدرس ارسال شود</span>
                                <span> @item.PostalAddress </span>
                                <span>
                                    <i class="fa fa-user"></i>
                                    @item.ReciverName
                                </span>
                                <a href="/UserPanel/Address/Edit/@item.Id" style="color:aqua" class="link--with-border-bottom edit-address-btn" data-toggle="modal" data-target="#editAddressModal">

                                    <i class="fa fa-edit"></i>
                                </a>
                                <span style="width:10px"> </span>
                                <a href="/UserPanel/Address/Delete/@item.Id" style="color:red" class="link--with-border-bottom Delete-address-btn" data-toggle="modal" data-target="#editAddressModal">

                                    <i class="fa fa-remove"></i>
                                </a>
                            </label>
                        </div>
                    </div>
                }

                <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                    <div class="custom-control custom-radio">
                        <a class="add-address" asp-action="AddNewAddress" asp-controller="Address"
                           asp-area="UserPanel">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Internet Connection Status-->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Footer Nav-->
<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
                <li class="active"><a href="/"><i class="lni lni-home"></i>خانه</a></li>
                <li><a href="#"><i class="lni lni-life-ring"></i>ارتباط با ما</a></li>
                <li><a href="/UserPanel/Wallet"><i class="lni lni-shopping-basket"></i>سبد خرید</a></li>
                <li><a href="pages.html"><i class="lni lni-heart"></i>درباره ما</a></li>
                <li><a href="settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
            </ul>
        </div>
    </div>
</div>


