@model Data.DTOs.ResetForgotPasswordViewModel
@{
    ViewData["Title"] = "ResetForgotPassword";
}


<!-- Preloader-->
<div class="preloader" id="preloader">
    <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">بارگذاری...</div>
    </div>
</div>
<!-- Login Wrapper Area-->
<div class="login-wrapper d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
                <img class="big-logo" src="img/core-img/logo-white.png" alt="">
                <!-- Register Form-->
                <div class="register-form mt-5 px-4">
                    <form asp-action="ResetForgotPassword" method="post">
                        <input type="hidden" name="token" value="@ViewData["token"]" />
                        <div class="form-group text-left mb-4">
                            <span>رمز عبور جدید</span>
                            <label asp-for="Password"><i class="lni lni-user"></i></label>
                            <input asp-for="Password" class="form-control" id="email" type="password" placeholder="رمز عبور جدید">
                            <span asp-validation-for="Password" class="text-dark"></span>
                        </div>
                        <div class="form-group text-left mb-4">
                            <span>تکرار رمز عبور جدید</span>
                            <label asp-for="RePassword"><i class="lni lni-user"></i></label>
                            <input asp-for="RePassword" class="form-control" id="email" type="password" placeholder="تکرار رمز عبور">
                            <span asp-validation-for="RePassword" class="text-dark"></span>
                        </div>
                        <button class="btn btn-warning btn-lg w-100" type="submit" href="/Account/Login">تغییر رمز عبور</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
